@tailwind base;
@tailwind components;
@tailwind utilities;


.span{
    animation: spin 3s linear infinite;
    border-left: 2px solid red;
    
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}